<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practice.community.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="BoardResponseDto" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board(member_id, title, content, category_id, count)
        VALUES (#{memberId}, #{title}, #{content}, #{categoryId}, 0)
    </insert>

    <select id="selectBoardById" parameterType="Long" resultType="BoardResponseDto">
        SELECT board_id, member_id, content, count, name, title, created_at,
            DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS created_at_str
        FROM board
    </select>




</mapper>
